.buildozer/
bin/
out/
__pycache__/
*.pyc
*.pyo
.DS_Store
PREMIUM_DEVID_SEKER_OUTPUT/
trash_remover/
rank_split/
banned.txt
clean.txt
full_info.txt
all_hits.txt
v2l_on.txt
v2l_off.txt
errors.txt
devices.json
last_matches.txt
merge_clean_ids.txt
skin_db.json
*.apk
